*{
    padding:0;
    margin:0;
}
body{
    background: url('../img/fondo.jpg');
    color: #fff;
    font-size: 16px;
  
}
.wrap{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    z-index: 1;
}
.widget{
    width: 50%;
    margin: 25% 25%;
}
.widget p{
    display: inline-block;
    line-height: 1em;
}
.fecha{
    font-family: 'Oswald', Arial;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.3125em;
    background: rgba(0, 0,0 ,.5);
    padding: 20px;
    width: 100%;
}
.reloj{
    font-family: 'Oswald', Arial;
    font-size: 8em;
    padding: 20px;
    width: 100%;
    text-align: center;
    background: rgba(0, 0,0 ,.5);
}
.reloj .caja-segundos{
    display: inline-block;
}
.reloj .segundos, 
.reloj .ampm{
    font-size: 0.45em;
    display: block;
}
@media only screen and (max-width: 800px) {
    body{
        font-size: 12px;
    }
    .wrap{
        width: 100%;
    }
    .fecha{
        font-size: 3em;
        display: inline-block;
    }
    .reloj{font-size: 4em
    }
    .reloj .ampm{
        font-size: 0.45m;
        
    }
    .reloj .caja-segundos{
        display: none;
    }
    #dosPuntos{
        display: none;
    }
  }
  
